@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

.filament-main-topbar {
    position: relative;
}

.fi-topbar-item {
    align-items: end;
}
 
.fi-logo{
    margin-right: 130px;
}

nav {
    background: #c026d3  !important;
}

.fi-breadcrumbs {
    background: #FAFAFA !important;
}